.container {
  max-width: 60rem;
  padding: 1rem 0 3rem;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
}

.middle {
  flex-grow: 1;
}

.right {
  flex-grow: 0;
}

.backToHome {
  margin: 3rem 0 1rem;
}

.backgroundLines {
  resize: both;
  background-size: cover;
  overflow: hidden;
  background-image: url(/solid-quest/images/background-lines.svg);
  background-position: right top;
}

.kadasterLogo {
  display:block;
  position: absolute;
  bottom: 5rem;
  width: 15rem;
  height: 15rem;
  right: 5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #06588e;
  color: white;
  text-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .footer {
    background: black;
    border-color: #ccc;
  }
}

@media only screen and (max-width: 900px) {
  .kadasterLogo {
      display: none;
  }
}

@media only screen and (max-width: 800px) {
  .backgroundLines {
      background-image: none;
  }
}