.container {
  max-width: 60rem;
  padding: 1rem 0 3rem;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
}

.middle {
  flex-grow: 1;
}

.right {
  flex-grow: 0;
}

.backToHome {
  margin: 3rem 0 1rem;
}

.backgroundLines {
  resize: both;
  background-size: cover;
  overflow: hidden;
  background-image: url(/solid-quest/images/background-lines.svg);
  background-position: right top;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 44, 84);
  color: white;
  text-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 1rem;
}

@media only screen and (max-width: 1500px) {
  .backgroundLines {
      background-image: none;
  }
}